{% import 'macros.html' as macro %}

{% block content%}
<div class="container-fluid">
        <!-- General News Section  -->
        <h3> Top General News</h3>
        <hr>

        {{ macro.displayNewsList(sources)}}

        <h3> Science News</h3>
        <hr>

        {{macro.displayScienceList(sources)}}

        <h3>Business News</h3>
        <hr>

        {{macro.displayBusinessList(sources)}}

        <h3>Technology News</h3>
        <hr>

        {{macro.displayTechnologyList(sources)}}

        <h3>Health News</h3>
        <hr>

        {{macro.displayHealthList(sources)}}

        <h3>Entertainment News</h3>
        <hr>

        {{macro.displayEntertainmentList(sources)}}
        

	
</div>
{%endblock%}
