{% macro displayNewsList(news_list) %}

	{% for news_row in news_list |batch(4)%}
        <div class="row">
        
            
        {% for news in news_row %}
        {%if news.category == 'general'%}
            <div class="col-md-3">
                
                <div class="panel panel-primary">
                    <div class="panel-heading-default">
                        <a href="/news/{{news.id}}">
                            {{ news.title}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ news.description |truncate(100)}}

                        </p>
                        <a href="/news/{{news.id}}" class="btn btn-info">Visit {{news.name}}</a>
                    </div>
                    
    
                </div>
            </div>
            {% endif %}
        {% endfor %}
            
    </div>
{% endfor %}

{% endmacro %}

<!-- Science News section-->
{% macro displayScienceList(news_list) %}

	{% for news_row in news_list |batch(4)%}
        <div class="row">
        
            
        {% for news in news_row %}
        {%if news.category == 'science'%}
            <div class="col-md-3">
                
                <div class="panel panel-success">
                    <div class="panel-heading-default">
                        <a href="/news/{{news.id}}">
                            {{ news.title}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ news.description |truncate(100)}}

                        </p>
                        <a href="/news/{{news.id}}" class="btn btn-success">Visit {{news.name}}</a>
                    </div>
                    
    
                </div>
            </div>
            {% endif %}
        {% endfor %}
            
    </div>
{% endfor %}

{% endmacro %}

<!-- Business News section -->
{% macro displayBusinessList(news_list) %}

	{% for news_row in news_list |batch(4)%}
        <div class="row">
        
            
        {% for news in news_row %}
        {%if news.category == 'business'%}
            <div class="col-md-3">
                
                <div class="panel panel-info">
                    <div class="panel-heading-default">
                        <a href="/news/{{news.id}}">
                            {{ news.title}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ news.description |truncate(100)}}

                        </p>
                        <a href="/news/{{news.id}}" class="btn btn-info btn-sm">Visit {{news.name}}</a>
                    </div>
                    
    
                </div>
            </div>
            {% endif %}
        {% endfor %}
            
    </div>
{% endfor %}

{% endmacro %}

<!-- Technology News -->
{% macro displayTechnologyList(news_list) %}

	{% for news_row in news_list |batch(4)%}
        <div class="row">
        
            
        {% for news in news_row %}
        {%if news.category == 'technology'%}
            <div class="col-md-3">
                
                <div class="panel panel-success">
                    <div class="panel-heading-default">
                        <a href="/news/{{news.id}}">
                            {{ news.title}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ news.description |truncate(100)}}

                        </p>
                        <a href="/news/{{news.id}}" class="btn btn-success">Visit {{news.name}}</a>
                    </div>
                    
    
                </div>
            </div>
            {% endif %}
        {% endfor %}
            
    </div>
{% endfor %}

{% endmacro %}

<!-- Health News -->
{% macro displayHealthList(news_list) %}

	{% for news_row in news_list |batch(4)%}
        <div class="row">
        
            
        {% for news in news_row %}
        {%if news.category == 'health'%}
            <div class="col-md-3">
                
                <div class="panel panel-primary">
                    <div class="panel-heading-default">
                        <a href="/news/{{news.id}}">
                            {{ news.title}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ news.description |truncate(100)}}

                        </p>
                        <a href="/news/{{news.id}}" class="btn btn-info btn-sm">Visit {{news.name}}</a>
                    </div>
                    
    
                </div>
            </div>
            {% endif %}
        {% endfor %}
            
    </div>
{% endfor %}

{% endmacro %}

<!-- Entertainment News -->
{% macro displayEntertainmentList(news_list) %}

	{% for news_row in news_list |batch(4)%}
        <div class="row">
        
            
        {% for news in news_row %}
        {%if news.category == 'entertainment'%}
            <div class="col-md-3">
                
                <div class="panel panel-danger">
                    <div class="panel-heading-default">
                        <a href="/news/{{news.id}}">
                            {{ news.title}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ news.description |truncate(100)}}

                        </p>
                        <a href="/news/{{news.id}}" class="btn btn-danger">Visit {{news.name}}</a>
                    </div>
                    
    
                </div>
            </div>
            {% endif %}
        {% endfor %}
            
    </div>
{% endfor %}

{% endmacro %}

<!-- Sports News -->
{% macro displaySportsList(news_list) %}

	{% for news_row in news_list |batch(4)%}
        <div class="row">
        
            
        {% for news in news_row %}
        {%if news.category == 'sports'%}
            <div class="col-md-3">
                
                <div class="panel panel-warning">
                    <div class="panel-heading-default">
                        <a href="/news/{{news.id}}">
                            {{ news.title}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ news.description |truncate(100)}}

                        </p>
                        <a href="/news/{{news.id}}" class="btn btn-warning">Visit {{news.name}}</a>
                    </div>
                    
    
                </div>
            </div>
            {% endif %}
        {% endfor %}
            
    </div>
{% endfor %}

{% endmacro %}

{% macro displayArticlesList(articles_list) %}

	{% for articles_row in articles_list |batch(4)%}
        <div class="row">
        
            
        {% for articles in articles_row %}
            <div class="col-md-3">
                
                <div class="panel panel-primary">
                    <div class="panel-heading-default">
                        <a href="/articles/{{articles.id}}">
                            {{ articles.name}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ articles.description |truncate(100)}}

                        </p>
                        <a href="/articles/{{articles.id}}" class="btn btn-info btn-sm">Visit {{articles.name}}</a>
                    </div>
                    
    
                </div>
            </div>
        {% endfor %}
            
    </div>
{% endfor %}

{% endmacro %}





